
  <% if @user.id == current_user.id %>
    <p>Welcome back <%= @user.username %></p>
  <% end %>


<h1>  Concerts attended by: <%= @user.username %></h1>

<h2>All Concerts: (<%= @user.concerts.count %>)</h2>

    <table>
      <colgroup>
      <col span="3" style="background-color:grey">

    <tr>
      <th>The Band</th>
      <th>Venue</th>
      <th>Date</th>
    </tr>

    <% @user.concerts.each do |concert| %>
        <tr>
          <td><%= concert.band.name %></td>
          <td><%= concert.venue.name %></td>
          <td><%= concert.date %></td>
        </tr>
      <% end %>
    </table>


  <h2> Bands I have seen </h2>
  <p>Band name(number of concerts seen)</p>
    <ol>
      <% @bands.each do |band| %>
          <li><a href=/bands/<%= band[0].id %> > <%= band[0].name %> </a>(<%= band[1] %>)
            </li>
      <% end %>
      </ol>
