
  <% if @user.id == current_user.id %>
    <p>Welcome back <%= @user.username %></p>
    <a href='/concert/new'> Add a Concert </a>
  <% end %>


<h1>  Concerts attended by: <%= @user.username %></h1>

<h2>All Concerts: (<%= @user.concerts.count %>)</h2>

    <table>
      <colgroup>
      <col span="3" style="background-color:grey">

    <tr>
      <th>The Band</th>
      <th>Venue</th>
      <th>Date</th>
    </tr>

    <% @user.concerts.each do |concert| %>
        <tr>
          <td><%= concert.band.name %></td>
          <td><%= concert.venue.name %></td>
          <td><%= concert.date %></td>
            <% if @user.id == current_user.id %>
              <td><button>Update</button> </td>
              <td><form action="/concert/<%= concert.id %>" method="post">
                  <div style="margin:0;padding:0">
                    <input name="_method" type="hidden" value="delete" />
                    <button type='submit'>Delete</button>
                  </div>
              </form></td>
              <% end %>
        </tr>
      <% end %>
    </table>


  <h2> Bands I have seen </h2>
  <p>Band name(number of concerts seen)</p>
    <ol>
      <% @bands.each do |band| %>
        <!-- Confir best practice for band[0] etc. -->
          <li><a href=/bands/<%= band[0].id %> > <%= band[0].name %> </a>(<%= band[1] %>)
            </li>
      <% end %>
      </ol>
