<h1> A list of all Concerts</h1>

  <ol>
    <% @concerts.each do |concert| %>
          <!-- Only add concerts that you have not already added
                current_user.concerts.detect {|x| x[:id] ==  concert.id  }-->
          <!-- THis logic needs to be moved -->
           <% if !User.find(session[:user_id]).concerts.detect {|x| x[:id] ==  concert.id  } %>
             <li>Date:<%= concert.date %>
                 Band:<%= concert.band.name %>
                 Venue:<%= concert.venue.name %>
                 Number of members attended: <%= concert.users.count %>
              <form method='POST' action='/users/addconcert'>
                <input type="hidden" value="<%=session[:user_id]%>" name="session[:user_id]" >
                <input type="hidden" value="<%= concert.id %>" name="concert_id">
                <input type="Submit" value="Add concert to my list" >
              </form>
              <a href='/concerts/<%= concert.id %>'>More Info </a>
            </li>
            <% else %>
            <!-- Add function to remove me from atteneding concert -->
            <div style="background: green">
              <li>Date:<%= concert.date %>
                  Band:<%= concert.band.name %>
                  Venue:<%= concert.venue.name %>
                  Number of members attended: <%= concert.users.count %>
              <a href='/concerts/<%= concert.id %>'>More Info </a>
              <p> I was There </p>
            </li>
            </div>
            <% end %>




        </li>
    <% end %>
  </ol>
