<h1> Info about this concert </h1>

<p> Band name </p>

<div class=band_concert_banner>
  <h1><%= @concert.band.name %></h1>
  <h2><%= @concert.date %></h2>
  <h2><%= @concert.venue.name %></h2>
</div>

<!-- Add setlist? -->

<h2> Comments/Reviews: </h2>
<div style="width: 100%;">



  <div style="float: left; width: 50%;">
    <h3> Add Comment:</h3>
      <% if flash[:error] %>
        <div>
          <%= flash[:error] %>
        </div>
      <% end %>
    <form action='/comments' method='POST' >
      <input type='hidden' name='concert_id' value=<%= @concert.id %>>
      <input type="textarea" name='comment' >
      <input type="submit" value='Add comment'>
    </form>
  </div>

  <div style="float: left; width: 50%;">

    <h3>Comments: </h3>

    <% @concert.comments.each do |comment| %>
      <div>
        <%= comment.comment %>
        <p>By:<%= comment.user.username %></p>
          <% if comment.user.id == session[:user_id] %>
            <button><a href='/comments/<%= comment.id %>/update'>Update</a><button>

            <form method="POST" action='/comments/<%= comment.id %>' >
              <input type="hidden" name="_method" value="DELETE">
              <input type='hidden' name='concert_id' value=<%= @concert.id %>>
              <input type="submit" value='delete comment'>
            </form>
            <% end %>
      </div>
    <% end %>

  </div>
</div>
